.comments {
    padding-top: 0.25rem;
    max-height: 8rem;
    overflow: auto;
}

.comments_small {
    padding-top: 0.25rem;
    max-height: 8rem;
    overflow: auto;
}

.comments_medium {
    padding-top: 0.25rem;
    max-height: 16rem;
    overflow: auto;
}

.comments_large {
    padding-top: 0.25rem;
    height: 100%;
    overflow: auto;
}

.comment {
    font-size: small;
    margin-bottom: 1rem;
}

.comment_large {
    font-size: large;
    margin-bottom: 1rem;
}

.commentUserId {
    font-weight: bold;
    padding-right: 1rem;
}

.commentUserTag {
    color: #bbc1c7;
    font-weight: bold;
}
