/* comments container */
.comments {
    height: 100%;
    overflow: auto;
}

.comments.small {
    max-height: 12rem;
}
.comments.medium {
    max-height: 16rem;
}
.comments.large {
    max-height: 24rem;
}

/* individual comments */
.comment {
    padding-top: 1rem;
}
.comment.small {

}
.comment.medium {

}
.comment.large {

}
/* comment supplementals */
.commentUserId {
    font-weight: bold;
    padding-right: 1rem;
}
.commentUserTag {
    color: #bbc1c7;
    font-weight: bold;
}
.commentTimestamp {
    color: #bbc1c7;
}
