.emptyFeed {
    font-size: large;
    font-weight: bold;
    color: #bbc1c7;
    text-align: center;
    padding-top: 3rem;
    padding-bottom: 3rem;
}

.postImage_small {
    margin: 0 auto 0 auto;
    max-height: 16rem;
    max-width: 16rem;
}

.postImage_medium {
    max-height: 24rem;
    max-width: 24rem;
}

.postImage_large {
    max-height: 40rem;
    max-width: 40rem;
}



.carousel-control-prev-icon,
.carousel-control-next-icon {
  height: 100%;
  width: 100%;
  background-image: none;
}

.carousel-control-next-icon:after
{
  /*content: '>';*/
  font-size: 3rem;
  color: #bbc1c7;
  margin: auto;
}

.carousel-control-prev-icon:after {
  /*content: '<';*/
  font-size: 3rem;
  color: #bbc1c7;
  margin: auto;
}
