.notificationsMenu {
    overflow-wrap: normal;
    white-space: normal;
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
}
.notificationGoTo {
    color: #bbc1c7;
    margin: 0.25rem;
    font-size: 2rem;
    font-weight: bold;
    z-index: 100;
}
