.post {
    padding-bottom: 2rem;
}

.postCaption {
    margin-bottom: 1rem;
}

.imagePreview {
    /* max-width: 4rem; */
    max-height: 4rem;
    margin-bottom: 0.5rem;
    margin-right: 0.5rem;
}

.textOnlyPost {
    font-size: large;
}

.goToPost {
    color: #bbc1c7;
    margin: 0.25rem;
    font-size: 2rem;
    font-weight: bold;
    z-index: 100;
}

.navBack {
    float: left;
    color: #bbc1c7;
    margin: 0.25rem;
    font-size: 2rem;
    font-weight: bold;
    z-index: 100;
}
