.post {
    padding-top: 1rem;
    padding-bottom: 1rem;
    background-color: #f8f9fa;
    box-shadow: rgba(50, 50, 105, 0.15) 0px 2px 5px 0px, rgba(0, 0, 0, 0.05) 0px 1px 1px 0px;
}

.postRow {
    margin-bottom: 1rem;
}

.postCaption {
    font-size: 1rem;
    padding-bottom: 1rem;
}
.postCaption.small {
    font-size: 0.75rem;
}
.postCaption.medium {
    font-size: 1rem;
}
.postCaption.large {
    font-size: 1.25rem;
}

.postTimestamp {
    font-size: 1rem;
    color: #bbc1c7;
    font-weight: bold;
}
.postTimestamp.small {
    font-size: 0.75rem;
}

.sharedPost {
    background-color: #f8f9fa;
}

.imagePreview {
    /* max-width: 4rem; */
    max-height: 4rem;
    margin-bottom: 0.5rem;
    margin-right: 0.5rem;
}

.textOnlyPost {
    font-size: large;
}

.navBack {
    float: left;
    color: #bbc1c7;
    margin: 0.25rem;
    font-size: 2rem;
    font-weight: bold;
    z-index: 100;
}

/* override for react-tiny-link default styles */
.ecIkKa {
    border: none !important;
    box-shadow: none !important;
    background-color: #f8f9fa;
}
