.profileNav {
    color: rgb(197, 181, 242) !important;
}

.profileNav.active {
    color: #9232d1 !important;
}


.userAction {
    padding-right: 1rem;
}

.userAction_small {
    padding-right: 1rem;
    font-size: 1rem;
    color: rgb(197, 181, 242);
}

.userAction_medium {
    padding-right: 1rem;
    font-size: 2rem;
    color: rgb(197, 181, 242);
}

.userAction_large {
    padding-right: 1rem;
    font-size: 3rem;
    color: rgb(197, 181, 242);
}
