body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
  margin: auto;
  /* max-width: 38rem; */
  /* padding: 2rem; */
}

.ostraka {
    font-size: 1.4em !important;
    /*font-family: 'Oxygen', cursive;*/
    font-family: 'Oxygen', sans-serif;
    color: rgb(197, 181, 242);
    font-weight: bold;
    text-shadow: 1px 1px #bbc1c7;
}
