.tags {
    display: -webkit-flex;
    display: flex;
    -webkit-flex-flow: row wrap;
    flex-flow: row wrap;
}

.tag {
    -webkit-flex: none;
    flex: none;
    text-align: center;
    font-size: 0.7rem;
    display: block;
    background-color: rgb(197, 181, 242);
    text-decoration: none;
    text-shadow: 1px;
    padding: 0.25rem;
    margin: 0.25rem;
    border-radius: 3px;
    color: #fff;
}

.tag.active {
    -webkit-flex: none;
    flex: none;
    text-align: center;
    font-size: 0.7rem;
    display: block;
    background-color: #9232d1;
    text-decoration: none;
    text-shadow: 1px;
    padding: 0.25rem;
    margin: 0.25rem;
    border-radius: 3px;
    color: #fff;
}

.tagInPost {
    color: rgb(197, 181, 242);
    font-weight: bold;
}
