.userIdentifier_user {
    font-size: 1.5rem;
    padding-left: 1rem;
}
.userIdentifier_tag {
    font-size: 1rem;
    color: #bbc1c7;
    font-weight: bold;
    padding-left: 1rem;
}
.userIdentifier_pic {
    max-height: 4rem;
    max-width: 6rem;
}


.userIdentifier_user_small {
    font-size: 0.75rem;
    padding-left: 1rem;
}
.userIdentifier_tag_small {
    font-size: 0.5rem;
    color: #bbc1c7;
    font-weight: bold;
    padding-left: 1rem;
}
.userIdentifier_pic_small {
    max-height: 2rem;
    max-width: 3rem;
    padding-right: 1rem;
}

.userIdentifier_user_medium {
    font-size: 1.5rem;
    padding-left: 1rem;
}
.userIdentifier_tag_medium {
    font-size: 1rem;
    color: #bbc1c7;
    font-weight: bold;
    padding-left: 1rem;
}
.userIdentifier_pic_medium {
    max-height: 4rem;
    max-width: 6rem;
    padding-right: 1rem;
}

.userIdentifier_user_large {
    font-size: 2.25rem;
    padding-left: 1rem;
}
.userIdentifier_tag_large {
    font-size: 1.5rem;
    color: #bbc1c7;
    font-weight: bold;
    padding-left: 1rem;
}
.userIdentifier_pic_large {
    max-height: 6rem;
    max-width: 9rem;
    padding-right: 1rem;
}
