.userIdentifier_user {
    font-size: 1.5rem;
}

.userIdentifier_tag {
    font-size: 1rem;
    color: #bbc1c7;
    font-weight: bold;
}

.userIdentifier_pic {
    max-width: 6rem;
}

.goToPost {
    color: #bbc1c7;
    font-size: 2rem;
    font-weight: bold;
}
